/* 1. Theme default css */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 body {
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-style: normal;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a,
a:focus,
a:hover{
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	font-family: "Oswald", sans-serif;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #7e7e7e;
	
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}

/* button style */

.btn {
	-moz-user-select: none;
	background: #1696e7 none repeat scroll 0 0;
	border: medium none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 13px 25px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}
.btn.btn-black {
	background: #303b41;
}
.btn.btn-black:hover {
	background: #1a1a1a;
}
.btn:hover {
	background: #106fab;
	color: #fff
}
.btn.btn-large {
	padding: 10px 25px;
}
.btn-lg {
	font-weight: 700;
	padding: 13px 31px;
}
.btn.white-btn:hover {
	border-color: #ddd;
	color: #ddd
}
.btn.btn-base.btn-link {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	color: #1696e7;
	padding: 0;
	text-decoration: none;
}
.btn.btn-base.btn-link:hover {
	color: #106fab;
}
.theme-bg {
	background: #1696e7
}
.bg-white {
	background-color: #ffffff;
}
.breadcrumb > .active {
	color: #888;
}



.navbar{
    padding:15px 10px;
    background: #fff;
    border:none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.navbar-btn{
    box-shadow: none;
    outline:none !important;
    border:none;
}
.line{
    width:100%;
    height:1px;
    border-bottom: 1px dashed #ddd;
}
.wrapper{
    display: flex;
    width:100%;
    align-items:stretch; 
	height: 100%;
}
#sidebar{
    min-width:250px;
    max-width: 250px;
    background: #005086;
    color:#fff;
    transition: all 0.3s;
	height: 100%;
    overflow: auto;
    position: fixed;
}
#sidebar.active{
    margin-left:-250px;
}
#sidebar .sidebar-header{
	padding: 20px;
    margin: 70px 0 0 0;
    background: #f2f2f2;
}
#sidebar ul.components{
    padding:20px 0px;
    border-bottom:1px solid #47748b;
}
#sidebar ul p{
    padding:10px;
    font-size:1.1em;
    display: block;
    color:#fff;
}
#sidebar ul li a{
    padding:10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover{
    color:#fff;
    background: #318fb5;
}
#sidebar ul li.active>a,
a[aria-expanded="true"]{
    color:#fff;
    background: #318fb5;
}
a[data-toggle="collapse"]{
    position: relative;
}
.dropdown-toggle::after{
    display: block;
    position: absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
}
ul ul a{
	text-transform: capitalize;
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: #fff;
    background: #318fb5;
}
ul.CTAs{
    padding:20px;
}
ul.CTAs a{
    text-align: center;
    font-size:0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom:5px;
}
a.download,
a.download:hover{
    background:#318fb5;
    color:#fff;
}
.content{
    width:100%;
    padding:20px;
    min-height: 100%;
    transition: all 0.3s;
	margin-left: 270px;
	transition: all 0.5s ease;
}
.content.active{
    width:100%;
    padding:20px;
    min-height: 100%;
    transition: all 0.3s;
	margin-left: 0px;
	transition: all 0.5s ease;
}
.content-wrapper{
    padding:15px;
	margin: 50px 0;
}

@media(maz-width:768px){
    #sidebar{margin-left:-250px;}
    #sidebar.active{
        margin-left:0px;
    }
	
    #sidebarCollapse span{
        display:none;
    }
}